.main-header {
	background-color: $header_bg_color;
	color: $title_color;
	font-size: $font_size;
	text-transform: $text_transform;
	a {
		display: inline-block;
		color: $title_color;
		text-decoration: none;
	}
	div {
		@include clearfix;
		@include container;
	} 
}

.header-logo {
	float: left;
	padding-top: 45px;
	&:hover {
		opacity: 0.8;
	}
	&:active {
	opacity: 0.3;
	}
}

.header-nav {
	float: left;
	padding-left: 177px;
	&__item {
		font-weight: 600;
		float: left;
	}
	&__link {
		margin-left: 23px;
		margin-right: 23px;
		padding-top: 75px;
		padding-bottom: 19px;
		&:hover {
		color: #fb565a;
		}
		&:active {
		color: #000000;
		opacity: 0.3;
		}
	}
	ul {
		@include clearfix;
	}
}

.header-basket {
	float: right;
	&__item {
		font-weight: 600;
	}
	&__item::before {
		content: url(img/icon-basket.png);
		opacity: 0.3;
		padding-right: 25px;
	}
	&__link {
		padding-top: 75px;
		padding-bottom: 19px;
		&:hover {
		color: #fb565a;
		}
		&:active {
		color: #000000;
		opacity: 0.3;
		}
	@include clearfix;
	}
}