@font-face {
	font-family: 'roboto';
	font-weight: 400;
	font-style: normal;
	src:
	local(roboto),
	url(fonts/roboto.woff2) format("woff2"),
	url(fonts/roboto.woff) format("woff")
}

@font-face {
	font-family: 'roboto';
	font-weight: 700;
	font-style: normal;
	src:
	local('roboto'),
	url(fonts/robotobold.woff2) format("woff2"),
	url(fonts/robotobold.woff) format("woff")
}

@font-face {
	font-family: 'roboto';
	font-weight: 600;
	font-style: normal;
	src:
	local('roboto'),
	url(fonts/robotomedium.woff2) format("woff2"),
	url(fonts/robotomedium.woff) format("woff")
}